
<div class="row">
    <div class="col-md-12">
        <input type="button" name="name" value="Busqueda Avanzada" class="btn btn-primary btn-sm btn-busqueda-avanazada"/>
    </div>
</div>


<table id="table-inmuebles" class="table table-hover table-bordered" style="width:100%; font-size:14px;">
    <thead>
        <tr>
            <th>N°</th>
            <th>Codigo</th>
            <th>Titulo</th>
            <th>Estado</th>
            <th>Precio</th>
            <th>Habitaciones</th>
            <th>Baños</th>
            <th>Porteria</th>
            <th>Piscina</th>
            <th>Categoria</th>
            <th>Zona</th>
            <th>Opciones</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>1500000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>Apartaestudio</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>2</td>
            <td>F515R125</td>
            <td>Casa Aires</td>
            <td>No Disponible</td>
            <td>780000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>Casa</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>1500000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>Casa</td>
            <td>Caicedo</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>1500000</td>
            <td>1</td>
            <td>3</td>
            <td>NO</td>
            <td>No</td>
            <td>Casa</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>2</td>
            <td>F515R125</td>
            <td>Casa Aires</td>
            <td>No Disponible</td>
            <td>780000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>ApartaEstudio</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>1500000</td>
            <td>5</td>
            <td>3</td>
            <td>NO</td>
            <td>No</td>
            <td>Casa</td>
            <td>Popular</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>2</td>
            <td>F515R125</td>
            <td>Casa Aires</td>
            <td>No Disponible</td>
            <td>780000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>Lote</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>784100</td>
            <td>2</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>ApartaEstudio</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>1500000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>Casa</td>
            <td>Latinco</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>1500000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>Lote</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>1500000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>Casa</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>
        <tr>
            <td>1</td>
            <td>FR125</td>
            <td>Casa En Buenos Aires</td>
            <td>Activo</td>
            <td>985200</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>ApartaEstudio</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>

        </tr>
        <tr>
            <td>580</td>
            <td>F515R125</td>
            <td>Casa Aires</td>
            <td>No Disponible</td>
            <td>985000</td>
            <td>5</td>
            <td>3</td>
            <td>Si</td>
            <td>No</td>
            <td>Lote</td>
            <td>Buenos aires</td>
            <td> Editar Detalle Eliminar</td>
        </tr>

    </tbody>
</table>



@*<script type="text/javascript">
    $(document).ready(function () {
        $('#table-inmubles').DataTable();
    });
</script>*@


