@model List<Inmobiliaria.Dominio.InmueblesDTO>

@{
    /*Carga Layout*/

    Layout = "~/Views/Shared/_Layout.cshtml";

}


@RenderPage("~/Views/Shared/_ContainerMenu.cshtml")

@RenderPage("~/Views/Shared/_Container_Header.cshtml")


@*Contenido del Formulario*@
<div class="row justify-content-md-center conten-form-new-inmueble">
    <div class="col-md-5 col-md-offset-1">
        <div class="col-md-12">
            <h5 class="card-title">Carateristicas</h5>
            <div class="col-md-12 row">
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Habitaciones</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Baños</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Porteria</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Piscina</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Área</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Llaves</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">

        <div class="col-md-12">
            <h5 class="card-title">Ubicación</h5>
            <div class="col-md-12 row">
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Código</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Municipio</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Zona</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="text" id="input">
                        <label for="input" class="mdc-floating-label">Dirección</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Categoria</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Propietario</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="col-md-12">
            <h5 class="card-title title-card">Información Financiera</h5>
            <div class="col-md-12 row">
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Precio Propietario</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">% de Comisión</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Valor de Honorarios</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="text" id="input">
                        <label for="input" class="mdc-floating-label">% Iva</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Precio Final</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="date" id="input">
                        <label for="input" class="mdc-floating-label">Fecha de Captación</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="number" id="input">
                        <label for="input" class="mdc-floating-label">Asesor</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="col-md-12">
            <h5 class="card-title title-card">Otra Información</h5>
            <div class="col-md-12 row">
                <div class="col-md-4">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="text" id="input">
                        <label for="input" class="mdc-floating-label">Estado</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input class="mdc-text-field__input" type="text" id="input">
                        <label for="input" class="mdc-floating-label">Titulo</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <textarea class="mdc-text-field__input"></textarea>
                        <label for="input" class="mdc-floating-label">Descripción</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <textarea class="mdc-text-field__input"></textarea>
                        <label for="input" class="mdc-floating-label">Agregar Fotos</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

@*Botton´s Form*@
<div class="row justify-content-end">
    <div class="col-6">
    </div>
    <div class="col-1">
        <a href="#" class="btn-inmbo-pink">Regresar</a>
    </div>
    <div class="col-1">
        <a href="#" class="btn-inmbo-pink">Guardar</a>
    </div>
    <div class="col-1">        
    </div>
</div>


<script type="text/javascript">
    mdc.autoInit();
</script>