<span>

Nuevo
</span>


<table id="table-inmubles" name="table-inmubles">
    <tr>
        <th>N°</th>
        <th>Codigo</th>
        <th>Titulo</th>
        <th>Estado</th>
        <th>Precio</th>
        <th>Habitaciones</th>
        <th>Baños</th>
        <th>Porteria</th>
        <th>Piscina</th>
        <th>Categoria</th>
        <th>Zona</th>
        <th>Opciones</th>

    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>2</td>
        <td>F515R125</td>
        <td>Casa Aires</td>
        <td>No Disponible</td>
        <td>780000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>2</td>
        <td>F515R125</td>
        <td>Casa Aires</td>
        <td>No Disponible</td>
        <td>780000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>2</td>
        <td>F515R125</td>
        <td>Casa Aires</td>
        <td>No Disponible</td>
        <td>780000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>

    </tr>
    <tr>
        <td>2</td>
        <td>F515R125</td>
        <td>Casa Aires</td>
        <td>No Disponible</td>
        <td>780000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>2</td>
        <td>F515R125</td>
        <td>Casa Aires</td>
        <td>No Disponible</td>
        <td>780000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
    <tr>
        <td>1</td>
        <td>FR125</td>
        <td>Casa En Buenos Aires</td>
        <td>Activo</td>
        <td>1500000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>

    </tr>
    <tr>
        <td>2</td>
        <td>F515R125</td>
        <td>Casa Aires</td>
        <td>No Disponible</td>
        <td>780000</td>
        <td>5</td>
        <td>3</td>
        <td>Si</td>
        <td>No</td>
        <td>Casa</td>
        <td>Buenos aires</td>
        <td> Editar Detalle Eliminar</td>
    </tr>
</table>
