@model List<Inmobiliaria.Dominio.InmueblesDTO>

@{
    /*Carga Layout*/

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@RenderPage("~/Views/Shared/_ContainerMenu.cshtml")

@RenderPage("~/Views/Shared/_Container_Header.cshtml")

<br /><br />
<div class="col-md-12">
    <nav class="mdc-tab-bar">
        <a class="mdc-tab mdc-tab--active" href="#one">Inmueble</a>
        <a class="mdc-tab" href="#two">Ubicación</a>
        <a class="mdc-tab" href="#three">Imagenes</a>
        <span class="mdc-tab-bar__indicator"></span>
    </nav>




</div>























<button class="mdc-fab material-icons" id="demo-absolute-fab" aria-label="Favorite">
    <span class="mdc-fab__icon">
        home
    </span>
</button>





<div class="mdc-form-field">
    <div class="mdc-checkbox">
        <input type="checkbox" id="my-checkbox" class="mdc-checkbox__native-control" />
        <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
        </div>
    </div>
    <label for="my-checkbox" id="my-checkbox-label">This is my checkbox</label>
</div>



<script type="text/javascript">
    mdc.autoInit();
</script>