@model InmobiliariaDTO
<!--En el arcgivo cobfig se guardo la rel nbame space de la ruta de dominio y las clases estan publicas-->
@{
    Layout = "~/Views/Shared/_Menu_Cliente.cshtml";

}


<div class="row">
    <div class="col-md-auto">
        Inmuebles
    </div>

    <div class="col-md-1">
        <a href="#">Agreagar Inmueble</a>
    </div>

</div>
<h2>Listar_Arrendatarios</h2>

