body {
}

/**************************LISTAR INMUEBLES***********************************/
.links-card {
    padding: 0% 2% 0% 2%;
}

    .card-header a {
        color: gray !important;
    }

    .card-header a:hover {
        color: white !important;
        background-color: #FF660C;
    }

    .card-header a:focus {
        color: white !important;
        background-color: #FF660C !important;
        background-image: url(../)
    }

.btn-busqueda-avanazada {
    float: right;
    margin: 0% 1% 3% 0%;
}

.table {
    font-size: 12px !important;
}

.table a:hover{
    background-color: none !important;
}

.table-hover tbody tr:hover {
    background-color: #ff9d3f !important;
    color: white !important;
    zoom: 120%
}

    .table-hover tbody tr:hover td i {
        color: white !important;
    }

.table-bordered td, .table-bordered th {
    border: none !important;
}

.thead-table {
    background-color: #FF660C;
    color: white;
    border-radius: 45%;
    text-align: center;
}

.footer-input {
    font-size: 95%;
}

.tr td a{
    font-size: 10px;
    color: dodgerblue;
}







/**************************FINAL LISTAR INMUEBLES***********************************/

