/*#region Index Login */

/*#region Body */
.body-login {
    /*imagen fondo*/
    background-image: url(../Content/Imagenes/BackGround_escritorio.jpg);
    /*no repetir imagen*/
    background-repeat: no-repeat;
    /*tamaño (altura ancho al 100% ) */
    width: 100%;
    height: 100px;
    background-size: 100%;
    /*Opacar */
}
/*#endregion */

/*#region Form Ingreso */

/****************Formulario de Ingreso***********************/
.formulario-ingreso {
    font-family: Calibri;
    color: white;
    background-color: black;
    opacity: 0.6;
    border-radius: 10px;
    filter: alpha(opacity=80);
}

    .formulario-ingreso label {
        font-size: 19px;
    }

    .formulario-ingreso input {
        background-color: transparent;
        color: white;
        border-radius: 25px;
    }


        .formulario-ingreso input[type="submit"] {
            margin: 20px auto;
            padding: 9px 60px;
            border-radius: 25px;
            font-size: 18px;
            background-color: transparent;
            color: #fff;
            outline: 0;
            border: 1px solid #4f5d61;
            cursor: pointer;
            width: 100%;
            letter-spacing: 1px;
        }

            .formulario-ingreso input[type="submit"]:hover {
                margin: 20px auto;
                padding: 9px 60px;
                border-radius: 25px;
                font-size: 18px;
                background-color: #BDBDBD;
                color: black;
                outline: 0;
                border: 1px solid #4f5d61;
                cursor: pointer;
                width: 100%;
                letter-spacing: 1px;
            }



    .formulario-ingreso a {
        color: #FFBF00;
        font-size: 18px;
    }


        .formulario-ingreso a:hover {
            color: #FFBF00;
            font-size: 18px;
        }

/****************FINAL Formulario de Ingreso***********************/
/*#endregion */

/*#region Nuevo Usuario */

.nuevo-usuario {
    color: #FFBF00;
    font-size: 18px;
}

    .nuevo-usuario a {
        margin: 5px auto;
        padding: 6px 20px;
        border-radius: 25px;
        background-color: #6E6E6E;
        color: black;
    }

        .nuevo-usuario a:hover {
            background-color: #BDBDBD;
            color: black;
        }

/*#endregion Nuevo Usuario */

/*#region Layout_Menu */

.fondo-brand-nav {
    background-image: url('Imagenes/Logo 200x50.png') !important;
    background-repeat: no-repeat !important;
    margin: 0px !important;
    padding: 0px !important;
    background-position: 25px -6px !important;
    
}

.button-buscar {
color:orangered;  
}
.button-buscar:hover {
    padding: 0px 13px !important;
    /* margin: 0px; */
    background-color: orangered !important;
    color: white !important;
    border-radius:50%;
    
}

.nombre-empresa {
    padding-top: 10px;
    color: dodgerblue;
    font-size: 20px !important;
    background-color: orangered;
    color: white;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    font-family: Calibri;
}


.iconmenu-inmueble {
    color: #DC1F3D !important;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
}
.iconmenu-propietario {
    color: dodgerblue !important;
    border-radius: 5px;
    padding: 2px 2px;
    text-align: center;
}
.iconmenu-arrendatario {
    color: dodgerblue !important;
    border-radius: 5px;
    padding: 2px 2px;
    text-align: center;
}

.iconmenu-contrato {
    color: #12494C !important;
    border-radius: 5px;
    margin: 0;
    padding: 1px;
    text-align: center;
}
.iconmenu-recaudo {
    color: white !important;
    background-color: mediumseagreen;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
}

.iconmenu-otrosi {
    color: white !important;
    background-color: mediumseagreen;
    border-radius: 5px;
    padding: 2px 2px;
    text-align: center;
}

.iconmenu-general {
    color: dodgerblue !important;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
}

.iconmenu-financiero {
    color: dodgerblue !important;
    border-radius: 5px;
    padding: 2px 2px;
    text-align: center;
}




.iconmenu-config {
    color: white !important;
    background-color: #0F9398;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
}


/*#endregion */
/*#region CSS Basicos */
.Color-Gris {
    color: gray !important;
}
.Color-Azul {
    color: #0080FF !important;
}
.Color-Fuscia {
    color: #FF0040 !important;
}
.color-barra {
    background-color: #398eca;
    color:white;
}


/*#endregion */











