

.body-login {
    /*imagen fondo*/    
    background-image: url(../Content/Imagenes/Background_Teclado.jpg);
    /*no repetir imagen*/
    background-repeat: no-repeat;
    /*tamaño (altura ancho al 100% ) */
    width: 100%;
    height: 100px;
    background-size: 100%;
    /*Opacar */
}

.title-iniciar {
    font-family: Calibri;
    color: gray;
}








