@*Banner superior*@
<div class="clearfix cp row banner-superior">
    <div class="col-md-4 conten-logo">
        <a href="/"><div></div></a>
    </div>
    <div class="col-md-4 nombre-inmobiliaria row">
        <div class="col-md-1"></div>
        <i class="material-icons icon-home">home</i><div> @ViewBag.nombre Inmobiliaria Diamante</div>
    </div>
    <div class="col-md-2 nombre-usuario">
        <div class="saludo-nombre"><a href="/">@ViewBag.usuario Jhon Castrillon</a></div>
    </div>
    <div class="col-md-2 cerrar-session clearfix cp">
        <a href="/" class="btn-cerrar-session">
            Cerrar Sessión
        </a>
    </div>
</div>
@*Menu inferior*@
<div class="row menu-inferior clearfix cp container col-md-12">

    <!-- start nav -->
    <nav id="menu" class="navbar-principial">
        <!-- start menu -->
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">|</a></li>
            <li>
                <a href="#">Inmuebles</a>
                <!-- start menu desplegable -->
                <ul>
                    <li><a href="#">Enlace 2.1</a></li>
                    <li><a href="#">Enlace 2.2</a></li>
                    <li><a href="#">Enlace 2.3</a></li>
                </ul>
                <!-- end menu desplegable -->
            </li>
            <li><a href="#">|</a></li>
            <li>
                <a href="#">Propietarios</a>
                <!-- start menu desplegable -->
                <ul>
                    <li><a href="#">Enlace 2.1</a></li>
                    <li><a href="#">Enlace 2.2</a></li>
                    <li><a href="#">Enlace 2.3</a></li>
                </ul>
                <!-- end menu desplegable -->
            </li>
            <li><a href="#">|</a></li>
            <li>
                <a href="#">Arrendatarios</a>
                <!-- start menu desplegable -->
                <ul>
                    <li><a href="#">Enlace 2.1</a></li>
                    <li><a href="#">Enlace 2.2</a></li>
                    <li><a href="#">Enlace 2.3</a></li>
                </ul>
                <!-- end menu desplegable -->
            </li>
            <li><a href="#">|</a></li>
            <li>
                <a href="#">Contratos</a>
                <!-- start menu desplegable -->
                <ul>
                    <li><a href="#">Enlace 2.1</a></li>
                    <li><a href="#">Enlace 2.2</a></li>
                    <li><a href="#">Enlace 2.3</a></li>
                </ul>
                <!-- end menu desplegable -->
            </li>
            <li><a href="#">|</a></li>
            <li>
                <a href="#">Pagos y Compras</a>
                <!-- start menu desplegable -->
                <ul>
                    <li><a href="#">Enlace 2.1</a></li>
                    <li><a href="#">Enlace 2.2</a></li>
                    <li><a href="#">Enlace 2.3</a></li>
                </ul>
                <!-- end menu desplegable -->
            </li>
            <li><a href="#">|</a></li>
            <li>
                <a href="#">Informes</a>
                <!-- start menu desplegable -->
                <ul>
                    <li><a href="#">Enlace 2.1</a></li>
                    <li><a href="#">Enlace 2.2</a></li>
                    <li><a href="#">Enlace 2.3</a></li>
                </ul>
                <!-- end menu desplegable -->
            </li>
            <li><a href="#">|</a></li>
            <li>
                <a href="#">Configuraciòn</a>
                <!-- start menu desplegable -->
                <ul>
                    <li><a href="#">Enlace 2.1</a></li>
                    <li><a href="#">Enlace 2.2</a></li>
                    <li><a href="#">Enlace 2.3</a></li>
                </ul>
                <!-- end menu desplegable -->
            </li>

        </ul>
        <!-- end menu -->
    </nav>
    <!-- end nav -->

</div>



