
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="row align-items-end text-center">


</div>
<div class="row">


    <div class="col-md-6 offset-4 text-center">

        @* ------Formulario de Ingreso------*@
        <span><i class="fab fa-optin-monster fa-4x" style="color:gray;"></i></span>
        &nbsp;&nbsp;&nbsp;

        <h1 class="title-iniciar">Iniciar sesión</h1>
        @* ------END Formulario de Ingreso------*@

    </div>

</div>

